<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main class="cart">
        <h1 class="titulo-cart">CHECKOUT</h1>
        <!-- Orden -->
        <section class="resumen-compra">
            <div class="caja-productos">
                <div class="item-producto">
                    <img src="/images/products/iphone.png" alt="Producto Compra" class="producto-cart">
                    <p>Nombre producto</p>
                    <input class="input-cart" type="number" min="1" max="9" step="1" value="1">
                    <p>$1.000.000</p>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <div class="item-producto">
                    <img src="/images/products/iphone.png" alt="Producto Compra" class="producto-cart">
                    <p>Nombre producto</p>
                    <input class="input-cart" type="number" min="1" max="9" step="1" value="1">
                    <p>$1.000.000</p>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <div class="item-producto">
                    <img src="/images/products/iphone.png" alt="Producto Compra" class="producto-cart">
                    <p>Nombre producto</p>
                    <input class="input-cart" type="number" min="1" max="9" step="1" value="1">
                    <p>$1.000.000</p>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
            <div class="cupon-subtotal">
                <div class="caja-cupon">
                    <p>¿Tienes un código de descuento?</p>
                    <div class="codigo-cupon">
                        <input type="text" name="cupon" placeholder="Código">
                        <button type="submit"><a href="/" class="link">Aplicar</a></button>
                    </div>
                </div>
                <div class="caja-resumen">
                    <p>Resumen de tu orden</p>
                    <div class="descripcion-valor">
                        <p>Subtotal</p>
                        <p>$810.000</p>
                    </div>
                    <div class="descripcion-valor">
                        <p>Iva</p>
                        <p>$190.000</p>
                    </div>
                    <div class="descripcion-valor">
                        <p>Total a pagar</p>
                        <p>$1.000.000</p>
                    </div>
                    <button type="submit"><a href="/"class="link">Comprar</a></button>
                </div>
            </div>            
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>