<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia Roboto-->
    <link
        href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">

    <!--Libreria  Fontawesome-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9f8e2238b5.js" crossorigin="anonymous"></script>

    <!--EStilos propios-->
    <link  href="/css/styles.css" rel="stylesheet">
    <link  href="/css/colors.css" rel="stylesheet">

    <title>Electro House</title>

</head>

<body>
    <header>

        <div class="nav-container">
            <div class="nav">
            <ul class="nav">
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i> 0013224456</a></li>
                <li><a href="/register"><i class="far fa-id-card"></i> Registrarse</a></li>
                <li><a href="#"><i class="fas fa-truck"></i> Seguí tu compra</a></li>
                <li><a href="/login"><i class="far fa-id-card"></i> Iniciar Sesion</a></li>
            </ul>
            </div>

            <div class="logos-redes">
            <ul class="logos-redes">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a> </li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
            </div>
        </div>
    
        
        <div class="logo-container">

            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo/logo.jpeg" atl="Logo"></a>
                </div>
            </div>   

            <div class="menu-container">
                <ul class="menu">
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="#">CONTACTO</a></li>
                    <li><a href="#">NOSOTROS</a></li>
                    <li><a href="/login">MI CUENTA</a></li>
                    <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></i></a></li>

                </ul>
            </div>            
            

            <div class="search-button-container">
                <div class="search-container">
                     <input type="text" placeholder="  Buscar">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>   
            
            </div>

                
            <div class="burger-container">
                <div class="icon-burger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>

            </div>

    </header>

        
    <main>

        <div>
        <section class="banner">
            <img src="images/logo/banner.png" alt="Banner de ofertas" class="banner">
        </section>
        </div>
        
        <section class="newitems">
            <h3>New Items</h3>
            
            <div class="products">
                
                <article>
                    <img src="images/portatiles/acer-aspire.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">ACER ASPIRE 5 A514-53-3427,I3,HDD1TB,4GB,14" HD LCD,Win10H</h4>
                        <div class="price-discount">
                        <p class="price">$1'800.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/portatiles/acer-nitro.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">ACER NITRO AN515-54-55MX I5 9300H SSD512GB 12GB 15.6"FHD IPS 4GBGTX1650 W10 Home Negro</h4>
                        <div class="price-discount">
                        <p class="price">$3'810.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/portatiles/asus-celeron.png" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">ASUS CELERON X543MA DM1336</h4>
                        <div class="price-discount">
                        <p class="price">$999.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/portatiles/dell-inspiron.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">DELL INSPIRON 15 3000 6501, I3, HDD1TB, 4GB, 15.6", Linux</h4>
                        <div class="price-discount">
                        <p class="price">$1'750.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
            
            </div>
        
        </section>


        <section>
            <h3>Categorias Populares</h3>
        
            <div class="categorias-container">
                
                <ul class="categorias">
                    <li><a href="#"><i class="fa-solid fa-gamepad"></i> Gamer</a></li>
                    <li><a href="#"><i class="fa-solid fa-laptop"></i> Portatiles</a></li>
                    <li><a href="#"><i class="fa-solid fa-headset"></i> Accesorios</a></li>
                    <li><a href="#"><i class="fa-solid fa-hard-drive"></i> Almacenamiento</a></li>
                    <li><a href="#"><i class="fa-solid fa-fan"></i> Partes</a></li>
                </ul>
            </div>

        </section>


        <section class="bestsellers">
            <h3>Bestsellers</h3>
            
            <div class="products">

                <article>
                    <img src="images/teclados/TECLADO-GAMERTECH.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">TECLADO GAMERTECH NOOB GT653T</h4>
                        <div class="price-discount">
                        <p class="price">$69.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/teclados/DIADEMA.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">DIADEMA REDRAGON PANDORA 2 NEGRA RGB H350</h4>
                        <div class="price-discount">
                        <p class="price">$155.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/teclados/CHASIS.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">CHASIS POWERTRAIN V.T3 FANS RGB</h4>
                        <div class="price-discount">
                        <p class="price">$395.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                        
                
                <article>
                    <img src="images/portatiles/acer-nitro.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">ACER NITRO AN515-54-55MX I5 9300H SSD512GB 12GB 15.6"FHD IPS 4GBGTX1650 W10 Home Negro</h4>
                        <div class="price-discount">
                        <p class="price">$3'810.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                
            
            </div>
        
        </section>
    
    </main>
    
    
    
    
    <footer>

        <div class="info-footer">

            

            <div>        
                <div class="icon-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <p>Pagá con tarjeta o en efectivo</p>
            </div>

            <div>
                <div class="icon-footer">
                <i class="fas fa-gift"></i>
                </div>
                <p>Envío gratis desde $150.000</p>
                
            </div>
        
            <div>
                <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
                <p>Seguridad de principio a fin</p>
                
            </div>

        </div>

        <div class="copyright">
            Copyright 1999-2020 Electro House S.R.L.
        </div>

    </footer>

</body>

</html>