<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Electro House</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
<body>
    <main>

        <div>
        <section class="banner">
            <img src="images/logo/banner.png" alt="Banner de ofertas" class="banner">
        </section>
        </div>
        
        <section class="details">
            <h3>Detalles del producto</h3>
            
            <div class="products">
                
                <article>
                    <img src="images/portatiles/acer-aspire.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">ACER ASPIRE 5 A514-53-3427,I3,HDD1TB,4GB,14" HD LCD,Win10H</h4>
                        <div class="price-discount">
                        <p class="price">$1'800.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/portatiles/acer-nitro.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">ACER NITRO AN515-54-55MX I5 9300H SSD512GB 12GB 15.6"FHD IPS 4GBGTX1650 W10 Home Negro</h4>
                        <div class="price-discount">
                        <p class="price">$3'810.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/portatiles/asus-celeron.png" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">ASUS CELERON X543MA DM1336</h4>
                        <div class="price-discount">
                        <p class="price">$999.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/portatiles/dell-inspiron.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">DELL INSPIRON 15 3000 6501, I3, HDD1TB, 4GB, 15.6", Linux</h4>
                        <div class="price-discount">
                        <p class="price">$1'750.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <img src="images/teclados/TECLADO-GAMERTECH.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">TECLADO GAMERTECH NOOB GT653T</h4>
                        <div class="price-discount">
                        <p class="price">$69.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/teclados/DIADEMA.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">DIADEMA REDRAGON PANDORA 2 NEGRA RGB H350</h4>
                        <div class="price-discount">
                        <p class="price">$155.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                
                <article>
                    <img src="images/teclados/CHASIS.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">CHASIS POWERTRAIN V.T3 FANS RGB</h4>
                        <div class="price-discount">
                        <p class="price">$395.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
                        
                
                <article>
                    <img src="images/portatiles/acer-nitro.jpg" alt="Imagen" class="product_img">
                    <div class="main-article">
                        <h4 class="description">ACER NITRO AN515-54-55MX I5 9300H SSD512GB 12GB 15.6"FHD IPS 4GBGTX1650 W10 Home Negro</h4>
                        <div class="price-discount">
                        <p class="price">$3'810.000</p>
                        <p class="discount"></p>
                        </div>
                        
                    </div>
                </article>
            
            </div>
        
        </section>
</body>
</html>