<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidos a Electro House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register-login.css">
</head>

<body>
    <header>
         
    </header>

  
  
   <br>
   <div class="container">
    <main class="register">
        <h2>Registrate</h2>
        <form action="/" method="POST" class="form-register">
            <input type="text" name="name" placeholder="Nombre y apellido">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="email" name="email" placeholder="E-mail">
            <input type="text" name="addres" placeholder="Domicilio">
            <input type="text" name="pais" placeholder="Pais de residencia">
            <input type="tel" name="tel" placeholder="Telefono">
            <input type="password" name="pass" placeholder="Contraseña">
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
            <br>
           <label>Fecha de nacimiento</label> <input type="date" name="birth_date" id="birth_date">
            <br>
            <h4>Elegí tu foto de usuario</h4>
            <br>
            <input type="file" name="avatar">
            <br>
            <button class="btn" type="submit">Enviar</button>
            <button class="btn-secondary" type="reset">Borrar</button>
            <br>
        </form> 
    
    </main>
</div>
    <footer>
    </footer>
</body>

</html>
    
















