:root {
    
    --azul1: #152528;
    --azul2: #08485e;
    --azul3: #3cb0cd;
    --azul4: #7cd5f3;
    --azul5: #b4e7f8;
    --verde1: #0c5a23;
    --verde2: #229631;
    --verde3: #21c063;
    --verde4: #1bee9a;
    --verde5: #adffbc;

    
}