
 body{
    font-family: 'Roboto', sans-serif;
    

 }
 .container{
    
 
  
 }
.form-register,
.form-login,
.login,
.register {

  padding-top: 8px;
  display: flex;
  flex-direction: column;
 
 
  

}
.btn,
.btn-secondary{
    
}


    
    
