* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(215, 228, 238);
  }
  
  .form-register,
  .form-login {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .form-login input,
  .form-register input,
  .form-register .btn {
    margin-bottom: 4px;
  }
  p{
    text-align: center;
    font-size: small;
  }