<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <main>

                <div>
                    <section class="banner">
                        <img src="images/logo/banner.png" alt="Banner de ofertas" class="banner">
                    </section>
                </div>
<br>
<br>


                <h3>Productos Nuevos 2022</h3>
                <br>
                
                
                <section class="newitems">

                    <div >
                            <img src="images/newitems.png" class="imgHome">
                        
                    </div>

                    <div class="textohome">
                        
                      
                        
                    </div>

                </section>

<br>
<br>

                <h3>Categorias</h3>
                <br>


                <div class="categorias-container">

                    <ul class="categorias">
                        <li><a href="#" class="link-subrayado"><i class="fa-solid fa-gamepad"></i> Video Juegos</a></li>
                        <li><a href="#" class="link-subrayado"><i class="fa-solid fa-laptop"></i> Computadores</a></li>
                        <li><a href="#" class="link-subrayado"><i class="fa-solid fa-headset"></i> Teléfonos</a></li>

                    </ul>
                </div>




                <section class="bestsellers">
                    <h3>Los más vendidos</h3>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                </section>


                <h3>Marcas</h3>



                <div class="categorias-container">

                    <ul class="categorias">
                        <li><a href="#" class="link-subrayado"> Acer</a></li>
                        <li><a href="#" class="link-subrayado"> Samsung</a></li>
                        <li><a href="#" class="link-subrayado"> Huawei</a></li>
                        <li><a href="#" class="link-subrayado"> Lenovo</a></li>
                        <li><a href="#" class="link-subrayado"> Iphone</a></li>
                        <li><a href="#" class="link-subrayado"> Asus</a></li>
                        <li><a href="#" class="link-subrayado"> Xbox</a></li>
                        <li><a href="#" class="link-subrayado"> Play Station</a></li>
                        <li><a href="#" class="link-subrayado"> Nintendo</a></li>


                    </ul>
                </div>

            </main>


            <%- include('./partials/footer') %>



    </body>

</html>