<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <main>

                <div>
                    <section class="banner">
                        <img src="images/logo/banner.png" alt="Banner de ofertas" class="banner">
                    </section>
                </div>

                <div class="categorias-container">

                    <ul class="categorias">
                        <li><a href="/products/video-juegos" class="link"><i class="fa-solid fa-gamepad"></i> Video Juegos</a></li>
                        <li><a href="/products/computadores" class="link"><i class="fa-solid fa-laptop"></i> Computadores</a></li>
                        <li><a href="/products/telefonos" class="link"><i class="fa-solid fa-headset"></i> Teléfonos</a></li>

                    </ul>
                </div>
            
                
                <section class="newitems">
                    <div >
                            <img src="images/proximamente.png" class="imgHome">                        
                    </div>
                    <div >
                        <img src="images/SALE.png" class="imgHome">                        
                </div>

                </section>
                <br>

                <div >
                    <img src="images/footer.png" class="imgFooter">                        
            </div>

                
                
                             

            </main>


            <%- include('./partials/footer') %>



    </body>

</html>