<!DOCTYPE html>
<html>


    <%- include('./partials/head') %>


<body>
    <%- include('./partials/header') %>

    <br>
    <main class="login">
        <form action="/user/login-process" method="POST" class="form-login">
            <input type="text" name="name" placeholder="Nombre de usuario">
            <br>
            <input type="password" name="password" placeholder="Contraseña">
            <br>
            <p><a href="#">Restablecer Contraseña</a></p>
            <br>
            <button class="bottom" type="submit">Ingresar</button>
            <br>
            <p><a href="/user/register">Registrate</a></p>
        </form>
    </main>
    </div>
    <%- include('./partials/footer') %>


</body>

</html>