<!DOCTYPE html>
<html>

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

  
  
   <br>
   <div class="container">
    <main class="register">
        <h2>Formulario de registro</h2>
        <form action="/user/" method="POST" class="form-register">
            <input type="text" name="name" placeholder="Nombre y apellido">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="email" name="email" placeholder="E-mail">
            <input type="text" name="address" placeholder="Domicilio">
            <input type="text" name="pais" placeholder="Pais de residencia">
            <input type="tel" name="tel" placeholder="Telefono">
            <input type="password" name="pass" placeholder="Contraseña">
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
            <br>
           <label>Fecha de nacimiento</label> <input type="date" name="birth_date" id="birth_date">
            <br>
            <h4>Elegí tu foto de usuario</h4>
            <br>
            <input type="file" name="avatar">
            <br>
            <button class="btn" type="submit">Enviar</button>
            <button class="btn-secondary" type="reset">Borrar</button>
            <br>
        </form> 
    
    </main>
</div>
<%- include('./partials/footer') %>

</body>

</html>
    
















