<footer>

    <div class="info-footer">

        

        <div>        
            <div class="icon-footer">
                <i class="fas fa-credit-card"></i>
            </div>
            <p>Pagá con tarjeta o en efectivo</p>
        </div>

        <div>
            <div class="icon-footer">
            <i class="fas fa-gift"></i>
            </div>
            <p>Envío gratis desde $150.000</p>
            
        </div>
    
        <div>
            <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
            <p>Seguridad de principio a fin</p>
            
        </div>

    </div>

    <div class="copyright">
        Copyright 1999-2020 Electro House S.R.L.
    </div>

</footer>