<header>

    
    
    <div class="logo-container">

        <div class="logo-bar-container">
            <div class="logo">
                <a href="/" class="link"><img src="/images/logo/logo.svg" atl="Logo"></a>
            </div>
        </div>   

        <div class="menu-container">
            <ul class="menu">
                <li><a href="/products/products" class="link">TIENDA</a></li>
                <li><a href="/users/profile" class="link">MI CUENTA</a></li>
                <li><a href="#" class="link">NOSOTROS</a></li>
                <li><a href="#" class="link">BLOG</a></li>
                
                
                <li><a href="/products/cart" class="link"><i class="fa-solid fa-cart-shopping"></i></i></a></li>

            </ul>
        </div>            
        

        <div class="search-button-container">
            <div class="search-container">
                 <input type="text" placeholder="  Buscar">
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>   
        
        </div>

            
        <div class="burger-container">
            <div class="icon-burger">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        </div>

</header>