<header>

    <div class="nav-container">
        <div class="nav">
        <ul class="nav">
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i> 0013224456</a></li>
            <li><a href="/user/register"><i class="far fa-id-card"></i> Registrarse</a></li>
            <li><a href="#"><i class="fas fa-truck"></i> Seguí tu compra</a></li>
            <li><a href="/user/login"><i class="far fa-id-card"></i> Iniciar Sesion</a></li>
        </ul>
        </div>

        <div class="logos-redes">
        <ul class="logos-redes">
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a> </li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        </div>
    </div>

    
    <div class="logo-container">

        <div class="logo-bar-container">
            <div class="logo">
                <a href="/"><img src="/images/logo/logo.svg" atl="Logo"></a>
            </div>
        </div>   

        <div class="menu-container">
            <ul class="menu">
                <li><a href="/products/products">PRODUCTOS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="/user/login">MI CUENTA</a></li>
                <li><a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></i></a></li>

            </ul>
        </div>            
        

        <div class="search-button-container">
            <div class="search-container">
                 <input type="text" placeholder="  Buscar">
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>   
        
        </div>

            
        <div class="burger-container">
            <div class="icon-burger">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        </div>

</header>