<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Editando: ' + '¿?' }) %>

    <body>
        <!-- Header -->
        <%- include('partials/headerNavbar') %>
            <!-- /Header -->

            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Estás editando: <i>PRODUCT NAME</i></h2>
                    </div>
                </div>
                <div class="col-12">
                    <form action="/products/edit/id?_method=PUT" method="POST">
                        <div class="row product-detail">
                            <div class="col-12 col-md-6">
                                <label for="name" class="form-label">Nombre del producto:</label>
                                <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok"
                                    class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="price" class="form-label">Precio del producto:</label>
                                <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="discount" class="form-label">Descuento:</label>
                            </div>
                            <!-- /todos los productos -->

                            <!-- footer -->
                            <%- include('partials/footer') %>
                                <!-- /footer -->
    </body>

</html>