<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="cart">
        <br>
        <h1 class="titulo-cart">LOGIN</h1>
        <section class="resumen-compra">
            <div class="caja-cupon">
                <form action="/users/login" method="POST" class="form-login" id="form">
                    <br><br><br><br><br>
                    <div>
                        <ul class="errors"></ul>
                    </div>
                    <br>
                    <input type="text" name="email" placeholder="E-mail" id="email">
                    <br><br>
                    <input type="password" name="password" placeholder="Contraseña" id="password">
                    <br><br><br>
                    <button class="btn" type="submit">Ingresar</button>
                    <br><br><br>
                    <p><a href="/users/create" class="link-subrayado">Registrate</a></p>
                    <br><br><br><br><br>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/loginValidate.js"></script>
</body>
</html>